body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("./image/sunset.jpeg"); /* Ganti 'background.jpg' dengan nama file gambar latar belakang Anda */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  margin-left: 50%;
  align-items: center;
}

.login-container {
  padding: 47px;
  border-radius: 0px;
  box-shadow: 0 0 15px rgba(3, 3, 3, 0.3);
  background-image: url("./image/sunset.jpeg") 50px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px black, 0 2px 25px rgb(18, 20, 133),
    0 0 5px rgb(10, 10, 78);
  color: #ffffff;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 0px;
  border: 1px solid #ccc;
}

button {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1f8fff;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 30px;
  background: transparent;
  border: 3px aqua;
  transition: 2s ease-in-out;
}

p {
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 10px;
  margin-left: 8px;
  margin-top: -3%;
}

button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 480px) {
  .login-container {
    width: 80%;
  }
}

.tag1 {
  padding: 162px;
  border-radius: 0px;
  box-shadow: 0 0 15px rgba(3, 3, 3, 0.3);
  display: flex;
  width: 100px;
  margin-bottom: 0%;
  margin-left: -161.2%;
  background-image: url("./image/sunset.jpeg") 50px;
  background-position: center;
}

h1 {
  margin: -100px;
  width: 100%;
  justify-content: space-between;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: justify;
  margin-top: -65%;
  text-shadow: 1px 1px 2px black, 0 2px 25px rgb(18, 20, 133),
    0 0 5px rgb(10, 10, 78);
  white-space: nowrap;
}

.tag1 p {
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin: 0;
  font-size: 11px;
  color: #ffffff;
  text-shadow: 1px 1px 2px black, 0 2px 25px rgb(18, 20, 133),
    0 0 5px rgb(10, 10, 78);
}
